*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
:root{
    --inter-400-700: 'Inter', sans-serif;
    --lexend-deca-400:'Lexend Deca', sans-serif;
}
html{
    background-color: hsl(233, 47%, 7%);
}
body{
    width: 90%;
    margin: auto;
    min-height: 100vh;
    margin-top: 5em;
    text-align: center;
}
section{
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    padding-bottom: 3em;
}
.img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    mix-blend-mode: multiply;
    display: flex;
}
.img-background{
    background-color: hsl(277, 64%, 61%);
    border-radius: 10px 10px 0px 0px;
}
h1{
    font-family: var(--inter-400-700);
    font-weight: 700;
    text-align: center;
    font-size: 1.8em;
    padding: 0.8em 0.8em 0em;
}
span{
    color: hsl(277, 64%, 61%);
}
p{
    font-family: var(--inter-400-700);
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    padding: 1.5em;
    line-height: 1.5em;
    font-size: 1em;
}
ul{
    list-style: none;
}
li{
    padding: 0.5em 0em;
}
h2{
    font-family: var(--inter-400-700);
    font-weight: 700;
    padding: 0.2em;
}
h3{
    font-family: var(--lexend-deca-400);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.8em;
    color: hsla(0, 0%, 100%, 0.6);
}
@media screen and (min-width: 992px){
    section{
        display: flex;
        flex-direction: row-reverse;
        width: 80%;
    }
    .img-background{

    }
    .card{

    }
}
